extends layout

block content
  script(src='javascripts/polygonMouseCheck.js')
  script(src='javascripts/player.js')
  script(src='javascripts/dice_emulator.js')
  script(src='javascripts/battle.js')
  script(src='javascripts/placePiece.js')
  script(src='javascripts/gameStart.js')
  script(src='javascripts/territory.js')
  script(src='javascripts/continent.js')
  script(src='javascripts/tutorial.js')
  //- script(type="text/babel" src="javascripts/movementHUD.jsx")
  div(id='hud-entry-point')
