extends layout

block content
  script(src='https://code.jquery.com/jquery-1.12.4.js')
  script(src='javascripts/tutorial.js')
  script(src='javascripts/territory.js')
  script(type="text/babel" src="javascripts/hud.jsx")
  div(id='hud-entry-point')
