doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/phaser.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='javascripts/territory.js')
    script(src='javascripts/tutorial.js')
  body
    block content
