body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  background-color: #adc2eb;
  text-align: center;
}

#hud-entry-point {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
